.forgotPassword-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--surface-ground);
}

.forgotPassword-card {
  width: 360px;
  text-align: center;
}

.icon-wrapper {
  width: 56px;
  height: 56px;
  margin: 0 auto;
  border-radius: 50%;
  background: var(--primary-50);
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-wrapper i {
  font-size: 24px;
  color: var(--primary-color);
}

.question-icon {
  font-size: 2rem !important;
  color: #3f51b5 !important;
}

.title {
  margin-top: 20px;
  font-size: 2rem !important;
  font-weight: 600 !important;
  font-family: Roboto, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #3f51b5;
}

.subtitle {
  margin-top: .5rem !important;
  color: #616161 !important;
  font-family: Roboto, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  display: block;
}

.forgotPassword-form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.resetPassword-btn {
  width: 100%;
  margin-top: 10px;
  font-family: Roboto, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.resetPassword-btn:hover {
  cursor: pointer;
}

.error {
  color: red;
  font-size: 12px;
  text-align: left;
}

.w-full{
  width: 100%;
}